* {
    font-family: 'Century Gothic';
}

.bg-light {
    background-color: #fff !important;
}

.navbar-default {
    background-color: #fff;
    border: none;
}

.navbar-default .navbar-text {
    color: #090f14
}

.navbar-default .navbar-nav>li>a {
    color: #090f14;
    /* font-size: 28pt; */
}

.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus {
    color: #0d151c;
    background-color: transparent
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
    color: #0d151c;
    background-color: #e7e7e7
}

.navbar-default .navbar-nav>.disabled>a,
.navbar-default .navbar-nav>.disabled>a:hover,
.navbar-default .navbar-nav>.disabled>a:focus {
    color: #0d151c;
    background-color: transparent
}

.navbar-brand {
    padding: 0;
}

.navbar-nav {
    margin: 0 auto;
}

.nav-link {
    padding: 1rem;
}

.logo {
    height: 100%;
}

#logoImg {
    height: 100%;
}


/* start home section */

#home {
    background-image: url("../images/homeBackground.png");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: flex-end;
    padding: 65px 0 0 0;
}

.cont {
    display: flex;
    width: 75%;
}

.first {
    /* background-color: #fff; */
    padding: 50px 40px 40px 0;
    width: 70%;
}

.first h2 {
    color: #fff;
    font-family: 'Century Gothic';
}

.first p {
    margin: 25px 0 0 0;
    color: #e4e4e4;
    font-size: 16px;
}

.second {
    /* background-color: #090f14; */
    /* padding: 50px 0; */
    /* width: 100%; */
}

.devices {
    padding: 60px 0;
    color: #e4e4e4;
    font-size: 30pt;
}

.fa {
    padding: 0 15px 0 0;
}

.devicesText {
    font-size: 16px;
}

.getOrderButton {
    margin: 60px 0;
    width: 360px;
    height: 72px;
    background-color: #f4f3f2;
    border-radius: 60px;
    display: flex;
    justify-content: center;
    /* vertical-align: bottom; */
}

.getOrderButtonText {
    padding: 17px 0 0 0;
    color: #0e141c;
    font-size: 24px;
    font-family: 'Century Gothic';
    font-weight: 500;
}


/* end home section */


/* start advantage section */

#advantage {
    background: url("../images/stressed_linen.png");
    width: 100%;
    display: flex;
    justify-content: center;
}

.advs {
    display: flex;
    justify-content: center;
    width: 70%;
}

.adv {
    margin: 96px;
    font-family: 'Century Gothic';
}

.advImg {
    width: 200px;
    height: 200px;
    border: 5px #fff solid;
    border-radius: 100%;
    overflow: hidden;
    margin: 0 auto;
}

.adv h4 {
    color: #272727;
    text-align: center;
}

.adv p {
    color: #363636;
    text-align: center;
}


/* end advantage section */


/* start whatItIs section */

#whatIsIt {
    padding: 62px 0;
    background-color: #fff;
    display: flex;
    justify-content: center;
}

#whatIsIt2 {
    padding: 62px 0;
    background-color: #fff;
}

.whatIsIt2Sect {
    display: flex;
    justify-content: center;
}

#whatIsIt2 h3 {
    text-align: center;
    width: 70%;
    margin: 0 auto 45px;
}

.whatIsIt2Cont {
    display: flex;
    justify-content: center;
}

.whatIsItBlock {
    display: flex;
    width: 55%;
}

.whatIsItText {
    width: 70%;
    padding: 0px 60px 0 20px;
}

.whatIsItText h3 {
    margin: 0 0 25px 0;
}

.whatIsItText2 {
    width: 70%;
    padding: 0px 0 0 20px;
}

.whatIsItText h4 {
    font-weight: 600;
}

.whatIsItImg {
    width: 50%;
}


/* end whatItIs section */


/* start gallery section */

#gallery {
    padding: 62px 0;
}

#gallery h2 {
    text-align: center;
    margin: 0 0 25px 0;
}

.galleryImg {
    display: flex;
    justify-content: center;
}

.gallerySection {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 55%;
}

.gImg {
    width: 23%;
    margin: 10px;
}

.gImg img {
    width: 100%;
    height: 200px;
}


/* end gallery section */


/* start parameters section */

#parametrs {
    background: url("../images/stressed_linen.png");
    color: #fff;
    padding: 40px 0;
}

#parametrs h3 {
    text-align: center;
}

.parametrsSect {
    display: flex;
    justify-content: center;
}

.parBlock {
    display: flex;
    flex-direction: column;
    width: 55%;
}

.parBlockItem {
    margin: 10px 0;
    padding: 40px 0;
    border: #545454 solid 1px;
    display: flex;
    justify-content: space-around;
}

.parText .getOrderButton {
    width: auto;
    margin: 0;
}

.parImg {
    width: 50%;
}

.parText {
    width: 30%;
    margin: auto 0;
}

.qwx {
    display: flex;
    justify-content: space-between;
}

.qwzText {
    text-align: center;
    color: lightgrey;
}

.paramText {
    margin: 30px 0;
}

.paramPrice {
    text-align: center;
    margin: 5px 0 0 0;
    color: red;
    font-size: 23pt;
}

.paramButt {
    background: transparent;
    border: greenyellow 1px solid;
}

.paramButt:hover .paramButtText {
    color: #363636;
}

.paramButt:hover {
    background: greenyellow;
}

.paramButtText {
    color: greenyellow;
}

.priceP {
    font-size: 28pt;
}

.paramImg {
    width: 100%;
}

.parAftText {
    margin: 10px 0;
    text-align: center;
}


/* end parameters section */


/* start rewievs section */

#rewievs {
    background-image: url("..")
}


/* end rewievs section */


/* start aboutLaser section */

#aboutLaser {
    background-image: url("../images/background2.jpg");
    /* height: 100%;  */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 60px 0;
}

.aboutLaserBlock212 {
    display: flex;
    justify-content: center;
}

.aboutLaserBlock {
    width: 55%;
    display: flex;
    justify-content: space-between;
}

.aboutLaserImg {
    width: 25%;
}

.aboutLaserImg img {
    width: 100%;
}

.aboutLaserText {
    color: #fff;
}

.aboutLaserText h4 {
    color: greenyellow;
    font-weight: 600;
}

#aboutLaser h3 {
    text-align: center;
    color: #fff;
}


/* .aboutLaserText p {
    margin: 20px 20px 0 70px;
} */

.aboutBLocks {
    display: flex;
    justify-content: center;
}

.aboutBLocksCont {
    width: 100%;
}

.aboutBLocksContItem {
    margin: 20px 20px 0 70px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

.aboutBLocksContItemImg {
    width: 22%;
    margin-right: -60px;
}

.aboutText {
    display: flex;
    align-items: center;
}


/* end aboutLaser section */


/* start review section */

#reviews {
    padding: 150px 0;
    background: url("../images/revBackground.png");
}

.revBlock {
    display: flex;
    justify-content: center;
}

.review {
    display: flex;
    flex-direction: column;
    width: 55%;
}

.imgRev {
    border-radius: 50%;
    border: #fff 2px solid;
    margin: 0 0 15px 0;
}

.textRev {
    margin: 5px auto;
    text-align: center;
    width: 50%;
}

.nameRev {
    margin: 10px auto;
    text-align: center;
    font-weight: 700;
}

.carousel-indicators {
    bottom: -60px;
}

.carousel-indicators li {
    background-color: #efefef;
    border: #8a8889;
}

.carousel-indicators .active {
    background-color: #464646;
    border: #222222;
}


/* end reviews section */


/* start order section */

#orderSection {
    background-color: #fff;
}

.orderSectionCont {
    display: flex;
    justify-content: center;
    padding: 70px 0;
}

.orderDiscount {
    width: 50%;
    border-right: #464646 2px solid;
    display: flex;
    justify-content: center;
}

.freeDelivery {
    position: relative;
    top: -36px;
    left: 528px;
    width: 100px;
    height: 100px;
}

.orderForm {
    width: 50%;
}

.orderTitle h2 {
    color: #3a3b3c;
    text-align: center;
}

.discBlock {
    border: #a1a1a1 2px solid;
    padding: 50px 87px;
    text-align: center;
}

.discproc {
    color: #ed2727;
    font-size: 32pt;
}

.discprocdc {
    color: #a5a5a5;
    font-size: 30pt;
}

.aed2 {
    color: #3f4243;
    text-decoration: line-through;
    font-size: 26pt;
}

.aed {
    color: #da2828;
    font-size: 30pt;
}

.offerText {
    color: #3f4243;
    font-size: 24pt;
}


/* second section */

.orderForm {
    display: flex;
    justify-content: center;
}

.contact-form {
    width: 50%;
}

.form-control {
    border-color: #464646;
    border-radius: 0px;
}

.inputH {
    margin: 8px 0;
}

.sendButton {
    background-color: #6dcff6;
    border: none;
    color: #fff;
    /* padding: 10px 35px; */
    /* font-size: 16pt; */
}


/* end order section */

@media screen and (max-width: 1300px) {
    .aboutLaserImg {
        width: 100%;
    }
    .aboutBLocksContItemImg {
        margin: 0;
    }

    .parBlockItem {
        flex-direction: column;
    }

    .parImg {
        width: 100%;
        padding: 0 30px;
    }
    .parText {
        width: 50%;
        margin: 35px auto 0 auto;
    }
}

@media screen and (max-width: 1030px) {
    .whatIsItBlock {
        flex-direction: column;
    }
    .whatIsItText {
        width: 100%;
    }
    .whatIsItText2 {
        width: 100%;
        margin: 40px 0;
    }
    .whatIsItImg {
        width: 100%;
    }
    .gImg {
        width: 29%;
    }
    .orderSectionCont {
        flex-direction: column;
    }
    .orderDiscount {
        border: none;
        width: 100%;
    }
    .orderForm {
        margin: 30px 0;
        width: 100%;
    }
}
